/* #header {
    position: absolute;
    background-color: lightgreen
} */

#body {
    background-color: lightblue;
}

#name {
    background-color: rgb(182, 231, 247);
    text-align: center;
    padding: 20px;
}